# .Python, .gitignore, etc.
.*
!.gitignore

# textual
Specifications/*

# executable
WorldRenderer

# intermediate files
inputForParser.txt
*.tex

# Haskell interface and object files 
*.hi
*.o

# output files
Prices.html
*.pdf
*.aux
*.dvi
*.log
generated_images/*
*.svg
*.dot

*.*~
*.htm
*.txt
*.pyc

# meanderings
BarrettTimothy_2014_papermaking_files/
DFS.py
ForageCalc.hs
RecipeTree.py
WeightedChoice.py
apple_potato_calculations.py
coordinate_sum_analysis.py
pigcalculations.hs